.header-section{ background-color: #264653;


}
h1{ font-size: 48px;

}
.btn{ background-color:  #E76F51;
    ;

}

.text-color{ color: #E76F51;

}


    .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
}