


body{ 

}



.header-section{ background-color: #264653;


}
h1{ font-size: 48px;

}
.btn{ background-color:  #E76F51;
    ;

}

.text-color{ color: #E76F51;
    

}


    .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
}





.client-section{ display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 35px;

}

.faq-img{ width: 431.2px;
    height: 423.5px;
    overflow: hidden;
    margin-right: 50px;
    
    

}

.subscribe-section{ background-color: #264653;

}

.regina{ color: #23A6F0;
            padding-top: 15px;
            padding-bottom: 12px;
            font-family: sans-serif;
            font-size: 14px;
            padding-left: 21px;
            font-weight: 600;

}

.banker{ font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 32px;
}

.footer-list{ display: flex;
                list-style-type: none;
                color: white;
                justify-content: space-around;
                padding-left: 0px;

}